.grid {
  display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-columns: 1fr;
  align-items: end;
  justify-items: center;
  gap: 1em;

  //   @media (min-width: 768px) {
  //     grid-template-columns: 1fr;
  //   }
}
