.hamburgerMenu {
    display: flex;
    flex-direction: column;
    // background-color: black;
    background-color: orangered;
    position: absolute;
    top: 100%;
    // right: 1px;
    min-width: 100%;
    justify-content: center;
    align-items: center;

    @media (min-width: 700px) {
        display: none;
    }
}

.isOpen {
    background-color: white;
}
.isClosed {
    display: none;
    background-color: black;
}
