.footerContainer {
  grid-row: 3;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: minmax(30px, 1fr) minmax(300px, 1111px) minmax(
      30px,
      1fr
    );
}

.body {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark {
  background-color: #2d333b;
}

.light {
  background-color: #8b9dc3;
}
