.introContainer {
  width: 100%;
  margin-top: 10em;
  margin-bottom: 25em;
  position: relative;
  // overflow: visible;

  .introduction {
    font-size: 15px;
    letter-spacing: 1.3px;
    margin-bottom: 0.7em;
  }

  .author {
    font-size: clamp(40px, 8vw, 60px);
    font-weight: 700;
    // margin-bottom: 0.5em;
  }

  .snippet {
    font-size: clamp(30px, 8vw, 60px);
    font-weight: 700;
    opacity: 0.8;
    letter-spacing: -2px;
    margin-bottom: 0.5em;
  }
  .whatIdo {
    font-size: clamp(14px, 4vw, 20px);
    opacity: 0.8;
    margin-bottom: 3em;
  }
}
.btnLink {
  text-decoration: none;
  border: 1px solid black;
  color: inherit;
  background-color: inherit;
  padding: 1em 2em;
  cursor: pointer;

  &:hover {
    background-color: black;
    color: white;
  }
}

.dark {
  .btnLink {
    border-color: teal;
    &:hover {
      background-color: teal;
      color: white;
    }
  }
}

.blobs {
  position: absolute;
  // width: 100%;
  width: 100%;
  height: 1000px;

  top: 0;
  left: 0;
  z-index: -1000;
  // overflow: hidden;
  overflow: visible;
  pointer-events: none;
  opacity: 0.5;

  @media (min-width: 1100px) {
    top: -200px;
    left: 200px;
  }
}
