.container {
  width: 100%;
  display: flex;
  gap: 1em;

  @media (min-width: 670px) {
    align-self: end;
    justify-content: end;
  }
}

.light {
  .link {
    color: inherit;
    color: #264076;
  }
}

.link {
  text-decoration: none;
  color: white;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.isEven {
  @media (min-width: 670px) {
    justify-content: start;
    // border: 1px solid blue;
  }
}
