.grid {
  display: grid;
  max-width: 500px;
  margin-block: 50px;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projectDetailContainer {
  position: relative;
}

.image {
  //   width: 100%;
  //   background-size: 'cover';
  //   background-position: 'center';
  //   background-repeat: 'no-repeat';
  opacity: 0.5;
}
.content {
  height: 100%;
  position: absolute;
  top: 0;
  display: grid;
  //   display: flex;
  //   flex-direction: column;
  //   align-content: end;
}
.projectDescription {
}

.mobileImage {
  height: 359px;
  filter: opacity(0.5);
}

.projectTitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.75;
  margin-bottom: 0.5em;
}

.iconContainer {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
